Screenlayouts/ScreenLayouts.dtd

<!ELEMENT layout (screen)+ > 
<!ELEMENT screen ((field)+,(table)*,(message)*) >
<!ATTLIST screen
	  name CDATA #REQUIRED 
	  version CDATA #REQUIRED >
<!ELEMENT field EMPTY>
<!ATTLIST field
          name CDATA #REQUIRED 
          x  CDATA #REQUIRED
          y  CDATA #REQUIRED
          length CDATA #REQUIRED
          matchText CDATA #REQUIRED >
<!ELEMENT message EMPTY>
<!ATTLIST message
          name CDATA #REQUIRED 
          msg  CDATA #REQUIRED >        
<!ELEMENT table (col)+ >
<!ATTLIST table
	  name CDATA #REQUIRED
	  numRows CDATA #REQUIRED
	  numColumns CDATA #REQUIRED
	  numPages CDATA #REQUIRED
	  numSections CDATA #REQUIRED
	  startingrowx CDATA #REQUIRED 
      rowsPerRecord CDATA #IMPLIED>
<!ELEMENT col EMPTY>
<!ATTLIST col
          name CDATA #REQUIRED
          x	 CDATA #IMPLIED 
          y  CDATA #REQUIRED
          length CDATA #REQUIRED
          matchText CDATA #REQUIRED
		  rowRecord CDATA #IMPLIED	 >
          